artifact_path: /home/claude/capstone-project/mlruns/1/models/m-8d3b9e5375b54f85aea035c1132e81da/artifacts
flavors:
  python_function:
    env:
      conda: conda.yaml
      virtualenv: python_env.yaml
    loader_module: mlflow.sklearn
    model_path: model.skops
    predict_fn: predict
    python_version: 3.12.3
  sklearn:
    code: null
    pickled_model: model.skops
    serialization_format: skops
    sklearn_version: 1.8.0
    skops_trusted_types: null
mlflow_version: 3.14.0
model_id: m-8d3b9e5375b54f85aea035c1132e81da
model_size_bytes: 12028
model_uuid: m-8d3b9e5375b54f85aea035c1132e81da
prompts: null
run_id: 47905328d59e46e7acbd104efd748b89
utc_time_created: '2026-07-23 22:41:17.933918'
